---
import Card from "./react/card"
---
<section id="products" class="mt-10 md:w-3/4 xl:w-4/6 2xl:w-7/12 mx-auto text-center">

    <h2 class="text-red-800 text-5xl font-bold">Productos</h2>
  
    <Card client:load />
</section>
